style.css
body {
	background-image: src="C:\Users\Alli\Desktop\aham5.github.io\unit_3\images"
	text-align: center;
}
h1 {
	color:000000;
}
p {
	color:000000;
}
ul {
	color:000000;
}
li {
	color:000000;
}

#slogan {
	font-style: italic;
}