style.css
body {
	background-image: src="images\desertroad.jpg"
	text-align: center;
}
h1 {
	color:000000;
	text-align: center;
}
p {
	color:000000;
	text-align: center;
}
ul {
	color:000000;
	text-align: right;
}
li {
	color:000000;
	text-align: right;
}

#slogan {
	font-style: italic;
}